@import "tailwindcss";

@theme {
  --color-primary: #d8b76a;   /* Indigo */
  --color-secondary: #292926; /* Pink */
}


.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.react-toggle {
  transform: scale(0.5);
  /* Adjust size here */
  transform-origin: left;
}


.react-select__control {
  border-color: "var(--color-primary)";
  border-radius: 0.375rem;
  /* rounded */
}

.react-select__option--is-focused {
  background-color: "var(--color-primary)";
  color: "var(--color-secondary)";
}

.react-select__single-value {
  color: "var(--color-secondary)";
}


.custom-select {
  border: 1px solid "var(--color-primary)";
  border-radius: 0.375rem;
  /* Tailwind's rounded */
  padding: 0.5rem;
  background-color: white;
  color: "var(--color-primary)";
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.custom-select:focus {
  outline: none;
  border-color: "var(--color-primary)";
  box-shadow: 0 0 0 2px "var(--color-primary)";
  /* soft focus ring */
}

.custom-select:hover {
  border-color: "var(--color-primary)";
}


.override-colors * {
  color: black !important;
  background-color: white !important;
}


@media print {
  .no-print {
    display: none !important;
  }
}

/* styles.css */
.input {
  @apply px-3 py-2 border border-primary rounded focus:outline-none focus:ring-2 focus:ring-primary transition w-full;
}
